<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mvmtecnologia.evangelizarapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.mvmtecnologia.evangelizarapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.mvmtecnologia.evangelizarapp.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName="br.com.mvmtecnologia.evangelizarapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.mvmtecnologia.evangelizarapp.MainActivity" />
        </activity>
        <activity
            android:name="br.com.mvmtecnologia.evangelizarapp.ShalomActivity"
            android:label="@string/title_activity_shalom"
            android:parentActivityName="br.com.mvmtecnologia.evangelizarapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.mvmtecnologia.evangelizarapp.MainActivity" />
        </activity>
        <activity
            android:name="br.com.mvmtecnologia.evangelizarapp.DicasActivity"
            android:label="@string/title_activity_dicas"
            android:parentActivityName="br.com.mvmtecnologia.evangelizarapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.mvmtecnologia.evangelizarapp.MainActivity" />
        </activity>
    </application>

</manifest>
